{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Кинотеатр "Премьера"{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        🎬 АДМИН-ПАНЕЛЬ
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'ticket/css/admin/admin-base.css' %}">
{% endblock %}

{% block nav-global %}
<!-- УБИРАЕМ ВСЕ КНОПКИ ИЗ ШАПКИ -->
{% endblock %}

{% block footer %}
{{ block.super }}
<script src="{% static 'ticket/js/admin/admin-base.js' %}"></script>
{% endblock %}